<h1>Welcome to Posse!</h1>

<p>
	Posse let's you make group calendars for easy event sharing.
</p>

<p>
<strong>pos·se</strong><br>
ˈpäsē/<br>

noun: posse; plural noun: posses
<br>
        a group of people who have a common characteristic, occupation, or purpose.<br>
        "he pompously led around a posse of medical students"<br>
        synonyms:	gang, band, group, crowd, pack, horde, herd, throng, mob, swarm, troop, cluster, more
        company, gathering.
</p>
